body {
    background-color: rgb(151, 148, 148);
    font-family: "Calibri";
}

.i1 {
    margin: auto;
    margin-top: 30px;
    border: 3px solid #3f3c3c; 
    width: 358px;
    height: 500px;
    border-radius: 6px;
}

.i2 {
    margin: auto;
    margin-top: 5px;
    border-bottom: 3px solid #3f3c3c;
}

b {
    padding-left: 320px;
    font-size: 60px;
    padding-right: 10px;
}

.i3 {
    background-color: #456cd6;
    border-color: #191a1775;
    color: white;
    border-radius: 6px;
    font-size: 40px;
    width: 243px;
    height: 69px;
    margin: auto;
    margin: 14px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.i4 {
    background-color: #292b3071;
    border-color: #191a1775;
    color: white;
    border-radius: 6px;
    font-size: 40px;
    width: 69px;
    height: 69px;
    margin: auto;
    margin: 7px;
    margin-top: 0px;
}

.i5 {
    background-color: #292b3071;
    border-color: #191a1775;
    color: white;
    border-radius: 6px;
    font-size: 40px;
    width: 69px;
    height: 69px;
    margin: auto;
    margin: 7px;
    margin-left: 14px;
}

.i6 {
    background-color: #292b3071;
    border-color: #191a1775;
    color: white;
    border-radius: 6px;
    font-size: 40px;
    width: 243px;
    height: 69px;
    margin: auto;
    margin: 7px;
    margin-left: 14px;
}

.i7 {
    background-color: #16790d;
    border-color: #191a1775;
    color: white;
    border-radius: 6px;
    font-size: 40px;
    width: 69px;
    height: 69px;
    margin: auto;
    margin: 7px;
}
